.puntoform {
    width: 300px;
    margin: 0 auto;
    margin-top: 70px;
}
        
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
}
        
fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}
        
.field {
    overflow: hidden;
    margin: 0px 0px 6px 0px;
}
        
.field label {
    float: left;
    font-size: 16px;
}
        
.field input {
    float: right;
    height: 26px!important;
    padding: 2px 6px!important;
}
        
.action {
    margin: 22px 0px 0px 0px;
    overflow: hidden;
}

#puntos_modal {
    margin-top: 23px!important;
}